@use 'sass:color';
@import '../../styles/variables';

.button {
  background-color: $buttonColor;
  color: white;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    // background-color: $buttonColor + 30;
    background-color: color.scale($buttonColor, $lightness: 30%);
  }
}
