@import '../../styles/variables';

#navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  background-color: $backgroundColor;
  border: 1px white;
  border-style: dashed none none none;
}
